:root {
    --main: 
}

.nav-container{
    width:100%;
}

.sub-main-header > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}
.football-animation{
    height: 180px;
    display: flex;
    align-items: end;
}

.football-animation{
    animation: 10s infinite positionChange;
}

@keyframes positionChange {
    0% { margin-left: initial; }
    20% { margin-left: 5rem; } 
    40% { margin-left: 10rem; } 
    60% { margin-left: 15rem; }
    80% { margin-left: 23rem; }
    100% { margin-left: initial; }
}

.logo{
    height:180px;
    background-image:url('../images/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

.site-title-container{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    width:40%;  
    transition: color 1s ease-in-out;
}

.site-title-container > div:nth-child(1){
    width: calc(8.1%);
}

.site-title-container > div:nth-child(2){
    margin-left: 1.5em;
    width: calc(16.67%);
}

.site-title-container > div:nth-child(3){
    margin-left: 4.7em;
    width: calc(13.8%);
}

.site-title-container:hover{
    color:red;
    cursor: pointer;
}

.main-header{
    display: flex;
    padding: 10px;
    margin: 0; 
    animation: 10s infinite colourChange;
    background-color: bisque;
}

@keyframes colourChange {
    0% { background-color: bisque; }
    16.67% { background-color: #FF6B6B; } 
    33.33% { background-color: #00CED1; } 
    50% { background-color: #FFD700; } 
    66.67% { background-color: #9370DB; }
    83.33% { background-color: #32CD32; } 
    100% { background-color: bisque; }
}

.sub-main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: bisque;
}

.nav-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 150px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    color: black;
    transition: color 1s ease;
  }

  .nav-menu li a:hover {
    color: red;
  }

.main-page-content{
    padding: 20px;
    background-color: bisque;
    box-sizing: border-box;
}
.hero-video{
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero-video video{
    width: 100%;
    height: auto;
    border-radius: 250px;
    padding: 20px;
}

.hero-video h2{
    width:50%;
    height: auto;
    position: absolute;
    top: 40%;
    text-align: center;
    padding: 10px 20px;
    font-family: cursive;
    font-size: 75px;
    color: white;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.block:nth-child(1),
.block:nth-child(2),
.block:nth-child(3){
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block1{
    background-image: url('../images/realmadrid.jpg');  
}

.block2{
    background-image: url('../images/euro2016.jpg');  
}

.block3{
    background-image: url('../images/ballond\'or.jpg'); 
}

.block:nth-child(4),
.block:nth-child(5),
.block:nth-child(6){
    height: 300px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 183);
    animation: 10s infinite backgroundChange;
}

@keyframes backgroundChange{
    0% { background-color:  rgb(235, 235, 183); }
    16.67% { background-color: rgb(183, 235, 235); } 
    33.33% { background-color: rgb(183, 183, 235); } 
    50% { background-color: rgb(235, 183, 235); } 
    66.67% { background-color: rgb(235, 183, 183); }
    83.33% { background-color: rgb(183, 235, 183); } 
    100% { background-color: rgb(235, 235, 183); }
    
}

.block:nth-child(4) p,
.block:nth-child(5) p,
.block:nth-child(6) p,
.description p{
    text-align: center; 
    margin: 0; 
    font-family: cursive;
    font-size: 2.8rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.number-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.number-container > h2{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

.stats{
    margin-top:50px;
    height: 400px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats:nth-of-type(2),
.stats:nth-of-type(4){
    height: 2px;
    border: 3px solid white;
}

.style-icon{
    color:#4b4a4a;
    font-size: 10em;
}

.stats h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

.stats h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
    margin-top: 20px;
}
    
.footer-container{
    padding: 20px;
    background-color: bisque;
    gap: 20px;
}

.footer-container > div:nth-of-type(1){
    height:2px;
    width: 100%;
    border: 3px solid white;
    background-color: white;
}

.footer-elements{
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    height: 100px;
    width: 100%;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

.photo-container-career-highlights{
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo-container-career-highlights > div:not(.headings){
    margin: 20px;
    height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.headings{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin: 20px;
}

.headings > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

.photo-container-career-highlights > div:not(.headings):hover{
    transform: scale(1.15);
}

.photo-container-career-highlights > div p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-style:italic;
    font-weight: 800;
    padding: 20px;
    z-index: 1;
    background-color: rgb(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-container-career-highlights > div:hover p {
    opacity: 1;
}

.photo1{
    background-image: url('../images/sporting_FC.jpg');
}

.photo2{
    background-image: url('../images/Manchester_FC.jpg');
}

.photo3{
    background-image: url('../images/Realmadrid_FC.jpg');
}

.photo4{
    background-image: url('../images/Juventus_FC.jpg');
}

.photo5{
    background-image: url('../images/Al-Nassr_FC.jpg');
}

.photo6{
    background-image: url('../images/Portugal.jpg');
}

.photo-container-personal-life{
    margin-top: 40px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    height: auto;
    width: 100%;
}

.personal-life-photo{
    height: 600px;
    margin: 10px;
}

.description{
    margin: 10px;
    position: relative;
}

.description p{
    position: absolute;
    margin-top: 120px;
    left: 0;
    right: 0;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 2.4rem;
}

.description p:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.personal-life-photo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.photo_1{
    background-image: url("../images/cr7_dad.jpg");
}

.photo_2{
    background-image: url("../images/cr7_mom.jpg");
}

.photo_3{
    background-image: url("../images/cr7_wife.jpg");
}

.photo_4{
    background-image: url("../images/cr7_kids.jpg");
}

.photo_5{
    background-image: url("../images/cr7_fitness.jpg");
}

.video-container{
    margin-top: 40px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.video-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    height: auto;
    width: 100%;
}

.video-goals{
    height: 300px;
    max-width: 100%;
    overflow: hidden;
    margin: 10px;
    box-sizing: border-box;
}

.video-goals video{
    width: 100%;
    height: auto;
}

