/* Set a minimum width for the body to ensure a responsive layout */
body{
    min-width: 900px;
}

/* CSS variables (custom properties) for reusability */
:root {
    --main-site-color: bisque; /* Main site color */
    --font-family-cursive: cursive; /* Cursive font family */
    --font-family-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Serif font family */
    --font-size-small: 2rem; /* Small font size */
    --font-size-large: 5rem; /* Large font size */
    --text-shadow-effect:  4px 4px 4px rgba(0, 0, 0, 0.8); /* Text shadow effect */
    --image-url-logo: url('../images/logo.jpg'); /* URL for the site logo */
    
    /* Additional image URLs for various sections... */
    --image-url-realmadrid: url('../images/realmadrid.jpg');
    --image-url-euro2016: url('../images/euro2016.jpg');
    --image-url-ballondor: url('../images/ballond\'or.jpg');
    --image-url-sporting: url('../images/sporting_FC.jpg');
    --image-url-manchester: url('../images/Manchester_FC.jpg');
    --image-url-realmadrid-fc: url('../images/Realmadrid_FC.jpg');
    --image-url-juventus-fc: url('../images/Juventus_FC.jpg');
    --image-url-alnassr-fc: url('../images/Al-Nassr_FC.jpg');
    --image-url-portugal: url('../images/Portugal.jpg');
    --image-url-cr7-dad: url('../images/cr7_dad.jpg');
    --image-url-cr7-mom: url('../images/cr7_mom.jpg');
    --image-url-cr7-wife: url('../images/cr7_wife.jpg');
    --image-url-cr7-kids: url('../images/cr7_kids.jpg');
    --image-url-cr7-fitness: url('../images/cr7_fitness.jpg');
}

/* Style for the navigation container */
.nav-container{
    width:100%;
}

/* Style for the football animation element */
.sub-main-header > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

/* Style for the football animation */
.football-animation{
    height: 180px;
    display: flex;
    align-items: end;
}

/* Animating the football animation element */
.football-animation{
    animation: 10s infinite positionChange;
}

/* Keyframes for football animation position change */
@keyframes positionChange {
    0% { margin-left: initial; }
    20% { margin-left: 5rem; } 
    40% { margin-left: 10rem; } 
    60% { margin-left: 15rem; }
    80% { margin-left: 23rem; }
    100% { margin-left: initial; }
}

/* Style for the site logo */
.logo{
    height:180px;
    background-image: var(--image-url-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

/* Style for the site title container */
.site-title-container{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-family: var(--font-family-cursive);
    font-size: var(--font-size-small);
    text-shadow: var(--text-shadow-effect);
    width:40%;  
    transition: color 1s ease-in-out;
}

/*Setting the width of all the elements in the site title container */
.site-title-container  div{
    width: fit-content;
}

/*Adding margin to the second div in the site title container */
.site-title-container > div:nth-child(2){
    margin-left: 1.5em;
}

/*Adding margin to the third div in the site title container */
.site-title-container > div:nth-child(3){
    margin-left: 4.7em;
}

/* Setting the color to red and changing the pointer to cursor on hover */
.site-title-container:hover{
    color:red;
    cursor: pointer;
}

/* Style for the main header element */
.main-header{
    padding: 10px; 
    animation: 10s infinite colourChange;
    background-color: var(--main-site-color);
}

/* Keyframes for background color change animation */
@keyframes colourChange {
    0% { background-color: var(--main-site-color); }
    16.67% { background-color: #FF6B6B; } 
    33.33% { background-color: #00CED1; } 
    50% { background-color: #FFD700; } 
    66.67% { background-color: #9370DB; }
    83.33% { background-color: #32CD32; } 
    100% { background-color: var(--main-site-color); }
}

/* Style for the fixed header, fixing the position of the header on top of the page while scrolling the page */
#fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    margin: 0;
}

/* Style for the sub-main header element */
.sub-main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--main-site-color);
}

/* Style for the navigation header */
.nav-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the navigation menu */
.nav-menu{
    list-style: none;
    display: flex;
    gap: 150px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for navigation menu links */
.nav-menu li a {
    text-decoration: none;
    font-family: var(--font-family-cursive);
    font-size: var(--font-size-small);
    text-shadow: var(--text-shadow-effect);
    color: black;
    transition: color 1s ease;
}

/*Setting the color to red when the nav links are hovered over */
.nav-menu li a:hover {
    color: red;
}

/* Media query for screens with a maximum width of 1799px */
@media screen and (max-width: 1799px) {
    .football-animation {
        animation: none; 
    }

    .hero-video h2 {
        font-size: 2.5rem !important;
        top: 50% !important;
        transform: translate(0, -50%); 
    }
}

/* Media query for screens with a maximum width of 1200px */
@media screen and (max-width: 1200px) {
    .football-animation {
      display: none; 
    }

    .logo{
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr) !important; 

    }
    
    .block:nth-child(n+4) {
        height: auto; 
        border-radius: 0 !important; 
    }

    .block p {
        font-size: 2.5rem !important; 
    }

    .number-container{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .stats h2{
        font-size: 5rem !important;
    }

    .photo-container-career-highlights > div:not(.headings) {
        width: calc(33.33% - 40px); 
        flex: initial !important;
    }

    .personal-life-photo, .description{
        height: 300px !important;
    }
   
    .description p{
        font-size: 1.5rem !important;
        margin-top: 40px !important;
    }
}

/* Media query for screens with a maximum width of 924px */
@media screen and (max-width: 924px) {
    .hero-video h2 {
        display: none;
    }

    .photo-container-career-highlights > div:not(.headings) {
        width: calc(50% - 40px); 
        flex: initial !important;
    }

    .video-gallery{
        display: flex !important;
        flex-direction: column !important;
        margin: 20px !important;
        height: auto !important;
        width: 100% !important;
    }

    .video-goals{
        height: 400px !important;
    }

    .video-goals:nth-of-type(even){
        display: none;
    }
}

/* Styling properties for the main page content */
.main-page-content{
    padding: 20px;
    background-color: var(--main-site-color);
    box-sizing: border-box;
    width: 100%;
    padding-top: 250px;
    margin: 0;
}

 /* Styling properties for the hero video section */
.hero-video{
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Additional CSS styles for the hero video section */
.hero-video video{
    width: 100%;
    height: auto;
    border-radius: 250px;
    padding: 20px;
}

/* Adjusting the position of the control buttons in the hero video by tweaking padding */
.hero-video video::-webkit-media-controls-panel {
    padding: 50px;
}

/* Styling the text for the hero video */
.hero-video h2{
    width:50%;
    height: auto;
    position: absolute;
    top: 40%;
    text-align: center;
    padding: 10px 20px;
    font-family: var(--font-family-cursive);
    font-size: 5rem;
    color: white;
    box-sizing: border-box;
}

 /* Styling properties for grid containers */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* Styling the first three child block elments */
.block:nth-child(-n+3){
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Setting the background image for the first block element */
.block1{
    background-image: var(--image-url-realmadrid);  
}

/* Setting the background image for the second block element */
.block2{
    background-image: var(--image-url-euro2016);
}

/* Setting the background image for the third block element */
.block3{
    background-image: var(--image-url-ballondor);
}

/* Styling the fourth, fifth and sixth elements with the block class */
.block:nth-child(n+4){
    height: 300px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 183);
    animation: 10s infinite backgroundChange;
}

/* Keyframes for background color change animation on blocks */
@keyframes backgroundChange{
    0% { background-color:  rgb(235, 235, 183); }
    16.67% { background-color: rgb(183, 235, 235); } 
    33.33% { background-color: rgb(183, 183, 235); } 
    50% { background-color: rgb(235, 183, 235); } 
    66.67% { background-color: rgb(235, 183, 183); }
    83.33% { background-color: rgb(183, 235, 183); } 
    100% { background-color: rgb(235, 235, 183); }
    
}

/* Styling the text in the block class and the description class */
.block:nth-child(n+4) p,
.description p{
    text-align: center; 
    margin: 0; 
    font-family: var(--font-family-cursive);
    font-size: 2.8rem;
    text-shadow: var(--text-shadow-effect);
}

 /* Styling properties for number containers */
.number-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

/* Styling the text heading in the number container */
.number-container > h2{
    width: 100%;
    font-family: var(--font-family-serif);
    font-size: var(--font-size-large);
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

/* Styling properties for stats elements */
.stats{
    margin-top:50px;
    height: 400px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling the second and the fourth div in the stats class to be a white border */
.stats:nth-of-type(2),
.stats:nth-of-type(4){
    height: 2px;
    border: 3px solid white;
}

/* Styling properties for icons within stats elements */
.style-icon{
    color:#4b4a4a;
    font-size: 10em;
}

/* Styling the h2 elements in the stats elements*/
.stats h2{
    font-family: var(--font-family-serif);
    font-size: 7rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

/* Styling the h4 elements in the stats elements*/
.stats h4{
    font-family: var(--font-family-serif);
    font-size: 1.5rem;
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
    margin-top: 20px;
}
   
/* Styling properties for the footer container */
.footer-container{
    padding: 20px;
    background-color: var(--main-site-color);
    gap: 20px;
}

.footer-container > div:nth-of-type(1){
    height:2px;
    width: 100%;
    border: 3px solid white;
    background-color: white;
}

.footer-elements{
    display: flex;
    background-color: var(--main-site-color);
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    height: 100px;
    width: 100%;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright h4{
    font-family: var(--font-family-serif);
    font-size: 1.5rem;
    color: black;
}

.photo-container-career-highlights{
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photo-container-career-highlights > div:not(.headings){
    margin: 20px;
    height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.headings{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin: 20px;
}

.headings > h2{
    font-family: var(--font-family-serif);
    font-size: var(--font-size-large);
    margin: 0;
    font-weight: 20;
    color: rgb(103, 67, 18);
}

.photo-container-career-highlights > div:not(.headings):hover{
    transform: scale(1.15);
}

.photo-container-career-highlights > div p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-family: var(--font-family-serif);
    font-size: 1.1rem;
    font-style:italic;
    font-weight: 800;
    padding: 20px;
    z-index: 1;
    background-color: rgb(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-container-career-highlights > div:hover p {
    opacity: 1;
}

.photo1{
    background-image: var(--image-url-sporting);
}

.photo2{
    background-image: var(--image-url-manchester);
}

.photo3{
    background-image: var(--image-url-realmadrid-fc);
}

.photo4{
    background-image: var(--image-url-juventus-fc);
}

.photo5{
    background-image: var(--image-url-alnassr-fc);
}

.photo6{
    background-image: var(--image-url-portugal);
}

.photo-container-personal-life{
    margin-top: 40px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
    height: auto;
    width: 100%;
}

.description{
    margin: 10px;
    position: relative;
}

.description p{
    position: absolute;
    margin-top: 120px;
    left: 0;
    right: 0;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 2.4rem;
}

.description p:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.personal-life-photo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 600px;
    margin: 10px;
}

.photo_1{
    background-image: var(--image-url-cr7-dad);
}

.photo_2{
    background-image: var(--image-url-cr7-mom);
}

.photo_3{
    background-image: var(--image-url-cr7-wife);
}

.photo_4{
    background-image: var(--image-url-cr7-kids);
}

.photo_5{
    background-image: var(--image-url-cr7-fitness);
}

.video-container{
    margin-top: 40px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.video-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
    height: auto;
    width: 100%;
}

.video-goals{
    height: 300px;
    max-width: 100%;
    overflow: hidden;
    margin: 10px;
    box-sizing: border-box;
}

.video-goals video{
    width: 100%;
    height: auto;
}